<!--MENU -->
<ul id="nav">
  <li ui-sref-active="active"><a ui-sref="home">ADD INFORMATION</a></li>
  <li class="divider">|</li>
  <li ui-sref-active="active"><a ui-sref="work">LISTING PAGE</a></li>
</ul>

<div class="header">
        <!-- <ul class="nav navbar-nav">
          <li ui-sref-active="active">
            <a ui-sref="home">ADD INFORMATION</a>
          </li>
          <li class="divider">|</li>
          <li ui-sref-active="active">
            <a ui-sref="work">LISTING PAGE</a>
          </li>
        </ul> -->



</div>

<!-- END MENU